*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1000px;
    /* border: 2px solid; */
    /* margin: auto; */
    margin-top: 100px;
    display: flex;
    background-color: rgb(220, 233, 241);
}
.box{
    width: 250px;
    height: 340px;
    /* border: 1px solid ; */
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}
.images{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
.title{
    padding: 15px;
}
.text{
    padding-bottom: 40px;
}
.btn{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(199, 218, 239);
    
}